<!DOCTYPE html>
<HTML lang="en">
<HEAD>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- ${generator?html} -->
<TITLE>${title?html}</TITLE>
<link rel="shortcut icon" type="image/x-icon" href="/Npackd.ico">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35579121-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme --> 
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<LINK REL="stylesheet" TYPE="text/css" HREF="/Style.css" MEDIA="all" />
<link rel="stylesheet" type="text/css" href="/jquery.cookiebar.css" />
</HEAD>
<BODY>

${menu}

<div class="content">
<h1>${titleHTML}</h1>

<#if error??>
<p class="bg-danger">${error?html}</p>
</#if>

<#if info??>
<p class="bg-info">${info?html}</p>
</#if>

${content}
</div>
<div class="nw-footer">
<a href="https://github.com/tim-lebedkov/npackd">Npackd</a> itself and also all data about packages (but not the package binaries or associated icons) is licensed under <a href="http://www.gnu.org/licenses/gpl.html">GPLv3</a><br>
Windows is a registered trademark of Microsoft Corporation in the United States and other countries.<br>
<a href="http://www.glyphicons.com">GLYPHICONS FREE</a> were used and are released under the Creative Commons Attribution 3.0 Unported License (CC BY 3.0)<br>
<a href="http://getbootstrap.com/">Bootstrap</a> was used and is released under MIT License<br>
<a href="http://www.primebox.co.uk/projects/jquery-cookiebar/">jQuery CookieBar Plugin</a> was used and is released under the Creative Commons Attribution 3.0 Unported License (CC BY 3.0)
</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
    <!-- Latest compiled and minified JavaScript -->
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>${head}

    <script type="text/javascript" src="/jquery.cookiebar.js"></script>
                
	${bodyBottom}
    <script type="text/javascript">
        $(document).ready(function(){
                $.cookieBar({
                });
        });
    </script>
</BODY>
</HTML>
