@import "Reset.css";
@import "Menu.css";

body {
    font-family: 'Segoe UI', 'Trebuchet MS', Verdana, Helvetica, sans-serif;
}

h1 {
    color: #666;
    font-size: 20pt;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 14pt;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h3 {
    color: #666;
    font-size: 14pt;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

li {
    display: list-item;
}

ol {
    margin: 5pt;
    padding-left: 2em;
    list-style: decimal;
    list-style-type: decimal;
}

ul {
    margin: 5pt;
    padding-left: 2em;
    list-style: disc;
    list-style-type: disc;
}

.nw-login-header {
    padding: 5pt;
    text-align: right;
    float: right;
}

td {
    padding: 2px;
}

div.content {
    padding: 1em;
}

.nw-footer {
    background-color: #ebeff9;
    text-align: center;
    font-size: 8pt;
    color: #666;
    padding: 0.5em;
}

.nw-packages > div {
    border-top: 1px solid #cbcfd9;
    margin: 0.5em;
    padding-top: 0.5em;
}

.nw-help {
    font-size: x-small;
    color: gray;
}

/* error messages */
.nw-error {
    background-color: #ffffaa;
    color: black;
    font-weight: bold;
    padding: 1em;
}

/* small informational messages */
.nw-info {
    background-color: #00ee00;
    color: black;
    font-weight: bold;
    padding: 1em;
}


.gwt-PopupPanel {
    border: 3px solid #C3D9FF;
    padding: 3px;
    background: white;
}

.gwt-SuggestBoxPopup {
    background: white;
    margin-left: 3px;
    border: 3px solid #C3D9FF;
}

.gwt-SuggestBoxPopup .item-selected {
  background: #b7d6f6;
}


