@import "Menu.css";

.nw-login-header {
    padding: 5pt;
    text-align: right;
    float: right;
}

td {
    padding: 2px;
}

div.content {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

table {
	margin: 10px;	
}

.bg-info {
	padding: 15px;
}

.bg-danger {
	padding: 15px;	
}

.nw-footer {
	border-top: 1px solid #e5e5e5;
    text-align: center;
    font-size: 8pt;
    color: #666;
    padding: 0.5em;
}

.nw-packages {
	padding-top: 15px;	
}

.nw-packages > div {
    border-top: 1px solid #cbcfd9;
    margin: 0.5em;
    padding-top: 0.5em;
}

.nw-help {
    font-size: x-small;
    color: gray;
}

.gwt-PopupPanel {
    border: 3px solid #C3D9FF;
    padding: 3px;
    background: white;
}

.gwt-SuggestBoxPopup {
    background: white;
    margin-left: 3px;
    border: 3px solid #C3D9FF;
}

.gwt-SuggestBoxPopup .item-selected {
  background: #b7d6f6;
}

ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;
    margin-top:0px
}
