<p style="text-align: center; width: 100%">
<a href="https://github.com/tim-lebedkov/npackd-cpp/releases/download/version_1.25/Npackd64-1.25.0.msi" class="btn btn-success btn-lg" role="button">
<span class="glyphicon glyphicon-download"></span> 
Download Npackd for Windows 64 bit .msi</a>
</p>
<p style="text-align: center; width: 100%">
    <a href="https://github.com/tim-lebedkov/npackd-cpp/releases">32 bit, .zip, command line tool downloads, etc.</a>
</p>

<p>
      Npackd (pronounced "unpacked") is a GPLv3 licensed <b>installer/application store/package manager/marketplace for applications</b> for 
Windows. It helps you to find and install <a href="/p">software</a>, 
				keep your system up-to-date and uninstall it if no longer 
				necessary. The process of installing and 
				uninstalling applications is completely automated 
				(silent or unattended installation and un-installation). 
  </p>

<h2>Find and install software in minutes</h2>
<p>The default repository contains <a href="/p">over 1000 packages</a> free for personal use. You can also easily <a href="https://github.com/tim-lebedkov/npackd/wiki/RepositoryHosting">host your own repository</a>.</p>

<h2>No adware, toolbars, etc.</h2>
<p>The default repositories only contain packages that do not install unrelated software.</p>

<h2>Easy and fast installation from the command line</h2>
<p>Run the following command as administrator in cmd.exe:</p>

<pre>msiexec.exe /qb- /i http://bit.ly/npackdcl32-1_25</pre>

<h2>Some useful commands</h2>
<pre>ncl add -p Firefox
ncl search -q java
ncl help</pre>

<h2>Demo</h2>
<p>A simple but powerful user interface is also <a href="https://github.com/tim-lebedkov/npackd/wiki/Downloads">available</a>.</p>
    	<iframe width="480" height="360" frameborder="0" src="https://www.youtube.com/embed/ZLJ8sv6siKQ">
		</iframe>
                <!--
<img alt="Npackd user interface" src="/Npackd.png"/>
                -->

<h2>News</h2>
<div>
<a width="300" height="380" class="twitter-timeline" href="https://twitter.com/Npackd" 
data-widget-id="259268267359731712">Tweets von @Npackd</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<h2>Source code</h2>
The source code is licensed under GPLv3 and is available on Github: <a href="https://github.com/tim-lebedkov/npackd-cpp">https://github.com/tim-lebedkov/npackd-cpp</a>