@import "Menu.css";

.nw-login-header {
    padding: 5pt;
    text-align: right;
    float: right;
}

td {
    padding: 2px;
}

div.content {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

table {
	margin: 10px;	
}

.bg-info {
	padding: 15px;
}

.bg-danger {
	padding: 15px;	
}

.nw-footer {
	border-top: 1px solid #e5e5e5;
    text-align: center;
    font-size: 8pt;
    color: #666;
    padding: 0.5em;
}

.nw-packages {
	padding-top: 15px;	
}

.nw-packages > div {
    border-top: 1px solid #cbcfd9;
    margin: 0.5em;
    padding-top: 0.5em;
}

.nw-help {
    font-size: x-small;
    color: gray;
}

.gwt-PopupPanel {
    border: 3px solid #C3D9FF;
    padding: 3px;
    background: white;
}

.gwt-SuggestBoxPopup {
    background: white;
    margin-left: 3px;
    border: 3px solid #C3D9FF;
}

.gwt-SuggestBoxPopup .item-selected {
  background: #b7d6f6;
}

ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;
    margin-top:0px
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.twitter-typeahead .tt-hint
{
    display: none;
}

.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
