<form method="post" action="/p/save">
<div>ID: ${page.package.name?html}</div>
<input type="hidden" name="name" value="${page.package.name?html}"></input>
<div>Full internal name: <input type="text" name="name" value="${page.package.name?html}"></input></div>
<div>Title: <input type="text" name="title" value="${page.package.title?html}"></input></div>
<div>Product home page: <input type="text" name="url" value="${page.package.url?html}"></input></div>
<div>Icon: <input type="text" name="icon" value="${page.package.icon?html}"></input></div>
<div>Description: <textarea rows="5" name="description">${page.package.description?html}</textarea></div>
<div><input class="input" type="submit" value="Save"></input> </div>
</form>

